<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Olympic History</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>The Summer Olympics</h1>
        <h3>120 years of Olympic History!</h3>
        <p>Lewis, Gao, Zou, Darby</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <h5>SELECT Year(s):</h5>
          <label for="frYear">From:</label>
          <input type="text" class="form-control" id="frYear" placeholder="1896">
          <label for="toYear">To:</label>
          <input type="text" class="form-control" id="toYear" placeholder="2016">
        </div>
      </div>
      <div class="col-md-2">
        <h5>SELECT NOC:</h5>
        <select id="selNOC"></select><br>
      </div>  
      <div class="col-md-2">
        <h5>SELECT Sport:</h5>
        <select id="selSport"></select><br>
      </div>
      <div class="col-md-2">
        <h5>SELECT Event Type:</h5>
        <div class="checkbox">
          <label><input type="checkbox" value="" checked>Men's Events</label>
          <label><input type="checkbox" value="" checked>Women's Events</label>
          <label><input type="checkbox" value="" checked>Mixed/Open Events</label>
        </div>
      </div>
      <div class="col-md-2">
        <h5>SELECT Medals:</h5>
        <div class="checkbox">
          <label><input type="checkbox" value="" checked>Include Gold</label>
          <label><input type="checkbox" value="" checked>Include Silver</label>
          <label><input type="checkbox" value="" checked>Include Bronze</label>
        </div>
      </div>
      <div class="col-md-2">
        <button id="filter-btn" type="submit" class="btn btn-default">Apply Selections</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div id="chart1"></div>
      </div>
      <div class="col-md-6">
        <div id="chart2"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="chart3"></div>
      </div>
      <div class="col-md-6">
        <div id="chart4"></div>
      </div>
    </div>
  </div>


  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
